*{
  margin:0px;
  padding:0px;
}

body {
  background-color: #0f0027;
}

.discover{
width: 60vw;
display: flex;
justify-content: center;
margin: auto;
}


.team{
  width: 95vw;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px 0px 0px 0px ;
  }

.logo{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 30px;
  width: 30vw;
}

.join{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px;
  width: 50vw;
  height:5vh;
}

.surprise{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 40px;
  width: 70vw;
  height: 5vh;
}